*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-container{
    object-fit: contain;
    height: 250px;
    background-repeat: no-repeat;
}

.circle-container{
    display: inline-block;
}

.circle{
    border: 2px black solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #888;
    margin: 0 10px;
}

.grey{
    color: blue;
}

.white{
    color: red;
}