*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    text-align: center;
}

.img-container{
    object-fit: contain;
    height: 250px;
    background-repeat: no-repeat;
}

.circle-container{
    display: inline-block;
}

.circle{
    border: 2px black solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #888;
    margin: 0 10px;
}

.active{
    background-color: yellow;
}

/* .disable{
    background-color: #888;
} */

.fas{
    background-color: #999;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    margin: 30px;
}

.arrow{
    display: inline-block;
}